<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"St.Excel-Processcor based-on Python" aka "P2P Project" Pre Alpha V0.3</title>
    <link href="/static/imgs/icon.ico" rel="shortcut icon" />
    <link type="text/css" rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<div>
	<img src="/static/imgs/title.bmp" id="title" />
    <h1>St.Excel-Processcor based-on Python</h1>
    <h2>aka</h2>
    <h1>P2P Project</h1>
    <h5>Pre Alpha V0.3</h5>
</div>
	<h2>{{ name }}</h2>
	<table border="1">
		{% for i in rows %}
		<tr>
			{% for j in i %}
			<th>{{ j }}</th>
			{% endfor %}
		</tr>		
		{% endfor %}
	</table>
</body>
</html>