<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Page - "St.Excel-Processcor based-on Python" aka "P2P Project" Pre Alpha V0.3</title>
    <!-- <link type="text/css" rel="stylesheet" href="/static/css/index.css"> -->
</head>
<body>
<div>
    <h1>St.Excel-Processcor based-on Python</h1>
    <h2>aka</h2>
    <h1>P2P Project</h1>
    <h5>Pre Alpha V0.3</h5>
</div>
<div>
	<form enctype="multipart/form-data" method="POST" action="/upload/"> 
		请输入文件名:&nbsp&nbsp&nbsp&nbsp<input type="text" name="fname" />
		<br /> 
		请选择文件上传:&nbsp<input type="file" name="file" />
		<br /> 
		<input type="submit" value="上传文件" /> 
	</form>
</div>
</body>
</html>