<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Page - "St.Excel-Processcor based-on Python" aka "P2P Project" Pre Alpha V0.3</title>
    <link type="text/css" rel="stylesheet" href="/static/css/index.css">
    <link href="/static/imgs/icon.ico" rel="shortcut icon" />
</head>
<body>
<div>
    <img src="/static/imgs/title.bmp" id="title" />
    <h1>St.Excel-Processcor based-on Python</h1>
    <h2>aka</h2>
    <h1>P2P Project</h1>
    <h5>Pre Alpha V0.3</h5>
</div>
<div style="text-align: left;">
	<form enctype="multipart/form-data" method="POST" action="/upload/"> 
    <div style="width: 30%;margin-left: 35%;text-align: left;">
		请输入文件名:&nbsp&nbsp&nbsp&nbsp<input type="text" name="fname" />
		<br /> 
		请选择文件上传:&nbsp<input type="file" name="file" />
		<!-- <br />  -->
        <p style="color: rgb(100, 100, 100);margin: 0;font-size: 80%">暂不支持.xlsx格式，请使用.xls格式。</p>
    </div>
		<input name="submit" type="image" value="上传文件" src="/static/imgs/btn.bmp" style="width: 30%;margin-left: 35%" /> 
	</form>
</div>
</body>
</html>